@font-face {
  font-family: regular;
  src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}

body {
  margin: 0;
  
  font-family: regular;
  font-size: 20px;
  letter-spacing: 10px;
  word-spacing: 5px;
  
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  text-align: center;
}
